<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-encrypt"
    version=“0.0.1”>
    <name>encryptPlugin</name>
    <author>Nethrah</author>
    <description>
        An encrypt implementation for cordova apps in iOS.
    <license>MIT</license>
    <js-module src="www/encrypt.js" name=“encrypt">
        <clobbers target=“encrypt" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="encryptPlugin">
                <param name="ios-package" value="encryptPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/encryptPlugin.m" />
        <header-file src="src/encryptPlugin.h" />

        <header-file src="src/crypto_scrypt-hexconvert.h" target-dir="src"/>
        <header-file src="src/libscrypt.h" target-dir="src"/>
        <header-file src="src/b64.h" target-dir="src"/>
        <header-file src="src/sha256.h" target-dir="src"/>
        <header-file src="src/slowequals.h" target-dir="src"/>
        <header-file src="src/sysendian.h" target-dir=“src”/>
        <header-file src="src/android.h" target-dir="src"/>\
        <source-file src="src/b64.c" target-dir="src"/>
        <source-file src="src/crypto-mcf.c" target-dir="src"/>
        <source-file src="src/crypto_scrypt-check.c" target-dir="src"/>
        <source-file src="src/crypto_scrypt-hash.c" target-dir="src"/>
        <source-file src="src/crypto_scrypt-hexconvert.c" target-dir="src"/>
        <source-file src="src/crypto_scrypt-nosse.c" target-dir="src"/>
        <source-file src="src/crypto-scrypt-saltgen.c" target-dir="src"/>
        <source-file src="src/sha256.c" target-dir="src"/>
        <source-file src="src/slowequals.c" target-dir="src"/>
    </platform>
    
    
    

   </plugin>
