

<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.plugin.encryption"
      version="0.0.1">
    <name>encryption</name>
    <description>To create encrypted keys to encrypt and decrypt messages.</description>
    <license>MIT</license>
   
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/encryption.js" name="encryption">
        <clobbers target="window.encryption" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="encryption">
                <param name="ios-package" value="encryption" />
            </feature>
        </config-file>
        <header-file src="src/ios/encryption.h" />
        <source-file src="src/ios/encryption.m" />
    </platform>
</plugin>
